<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    
    <form action="{{ url_for('home') }}" method="post">
        <input id="input-todo" type="text" name="todo_name" placeholder="Enter Todo" required>
        <button id="add-todo" type="submit">Add Todo</button>
    </form>
    <h2>Your Todos</h2>
    <ul class="todo-container">
        {% for item in items %}
        <li class="todo">
            <form action="{{ url_for('checked_todo', todo_id=item.id) }}" method="post">
                <input type="checkbox" {% if item.checked %}checked{% endif %} onchange="this.form.submit()">
            </form>
            {{ item.name }}
            <form class="actions" action="{{ url_for('delete_todo', todo_id=item.id) }}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
